{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "es5",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "rangeStart": 0,
    "requirePragma": false,
    "insertPragma": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^react(.*)$",
        "^next(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@/config/(.*)$",
        "^@/components/(.*)$",
        "^@/utils/(.*)$",
        "^@/styles/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
