html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.e5qezUpwNSH5AFw4eALWe {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.e5qezUpwNSH5AFw4eALWe img {
  margin-left: 0.5rem;
}
.e5qezUpwNSH5AFw4eALWe a {
  display: flex;
  justify-content: center;
  align-items: center;
}

._1OnRzOorvR9RZ9SB30xdhM {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
._1OnRzOorvR9RZ9SB30xdhM img {
  margin-left: 0.5rem;
}
._1OnRzOorvR9RZ9SB30xdhM a {
  display: flex;
  justify-content: center;
  align-items: center;
}

._3g7HYU9nCYMqaM5pWGAHVl {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DAtI-hyE9kS-RruRk7swV {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._2O4bI2VAxv_aJLJhx0Ige3 {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
._2O4bI2VAxv_aJLJhx0Ige3 a {
  color: #0070f3;
  text-decoration: none;
}
._2O4bI2VAxv_aJLJhx0Ige3 a:hover,
._2O4bI2VAxv_aJLJhx0Ige3 a:focus,
._2O4bI2VAxv_aJLJhx0Ige3 a:active {
  text-decoration: underline;
}
._2O4bI2VAxv_aJLJhx0Ige3,
._3tkTywW6gDd_cCyFMoGjYQ {
  text-align: center;
}


