.post {
    width: 80%;

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 2.5rem 0 0.75rem;
    }

    p {
        margin: 1.25rem 0 0 0;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
    }
    ol,
    ul {
        margin: 1.25rem 0 0 0;
    }
    blockquote {
        margin: 0;
        padding-left: 1.4rem;
        border-left: 4px solid #dadada;
    }
}

.headerImage {
    margin: 0 0 1.5rem;

    img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    figcaption {
        margin-top: 0.5rem;
        color: #595959;
        font-size: 0.8rem;
        line-height: 1.5;
    }
}

.tags {
    font-size: 1rem;
}
