.post {
    width: 80%;

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 2.5rem 0 0.75rem;
    }

    p {
        margin: 1.25rem 0 0 0;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
    }
    ol,
    ul {
        margin: 1.25rem 0 0 0;
    }
    blockquote {
        margin: 0;
        padding-left: 1.4rem;
        border-left: 4px solid #dadada;
    }
}
