.contact {
    width: 100%;
    margin: 1rem;
    flex-basis: 45%;
    //    padding: 1.5rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
    transition:
        color 0.15s ease,
        border-color 0.15s ease;

    h3 {
        margin: 0 0 1rem 0;
        font-size: 1.75rem;
    }

    p {
        margin: 0;
        font-size: 1.25rem;
        line-height: 1.5;
    }
}
