@timesnewroman: "Times New Roman", Times, Serif;
@helvetica: "Helvetica Neue", Helvetica, Arial;
@georgia: Georgia, Times, "Times New Roman";

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    max-width: 1440px;
    width: 100%;
    padding: 1.5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: helvetica;

    h3 {
        font-family: georgia;
        font-weight: bold;
    }

    hr {
        width: 80%;
        height: 1px;
        background-color: #c8c8c8;
    }

    ul {
        text-align: left;
    }
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
    margin-top: 1.5rem;
    font-family: timesnewroman;

    a {
        color: #0070f3;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }
}

.title,
.description {
    text-align: center;
}

.card {
    width: 80%;
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
    transition: color 0.15s ease, border-color 0.15s ease;
    
    h3 {
        margin: 0 0 1rem 0;
        font-size: 1.75rem;
    }

    p {
        margin: 0;
        font-size: 1.125rem;
        line-height: 1.5;
        text-align: left;
    }
}

.imgwithtext {
    position: relative;

    img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    div {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 1.5rem;
    }
}

.image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgleft {
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: auto;
}

.textleft {
    position: relative;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: auto;
}

.right {
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: auto;
}
