.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-left: 0.5rem;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.facebook,
.twitter {
    font-size: 1.5rem;
    color: #fff;
    padding: 5px;
    width: 46px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

.facebook {
    background: #4267b2;
}

.twitter {
    background: #1da1f2;
}
