.header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman";
    font-size: 1.125rem;

    img {
        margin-left: 0.5rem;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .active {
        font-weight: bold;
    }
}
